<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频列表</title>
    <!-- 样式 -->
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/common/jquery/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/common/ccb.js}" type="application/javascript"></script>
    <script th:src="@{/common/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/ccb/category/js/category.js}" charset="utf-8"></script>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 分页表格 -->
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">分组列表</div>
            <div class="layui-card-body">

                <!--视频列表-->
                <table class="layui-hide" id="categoryTable" lay-filter="category">

                </table>

                <!-- 上方工具栏 -->
                <script type="text/html" id="categoryTableToolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="createCategory">新增<i
                                class="layui-icon layui-icon-add-1"></i></button>
                    </div>
                </script>
                <!--操作按钮-->
                <script type="text/html" id="categoryBarDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>