<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 样式 -->
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/common/jquery/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/common/ccb.js}" type="application/javascript"></script>
    <script th:src="@{/common/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/ccb/js/banner.js}" charset="utf-8"></script>
</head>
<body style="background: #EFEFEF">
<div class="layui-row layui-col-space15">
    <!-- 分页表格 -->
    <div class="layui-col-md7">
        <div class="layui-card">
            <div class="layui-card-header">轮播图列表</div>
            <div class="layui-card-body">
                <!--轮播图表-->
                <table class="layui-hide" id="bannerTable"  lay-filter="banner">

                </table>
                <!-- 上方工具栏 -->
                <script type="text/html" id="bannerTableToolbarDemo">
                    <div class="layui-btn-container">
                        <button id="createBanner" class="layui-btn layui-btn-sm" lay-event="addData">新增<i class="layui-icon layui-icon-add-1"></i></button>
                    </div>
                </script>
                <!--操作按钮-->
                <script type="text/html" id="bannerBarDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
    <!-- 操作表单 -->
    <div class="layui-col-md5 layui-bg-gray">
        <div class="layui-card">
            <div class="layui-card-header">添加或修改</div>
            <div class="layui-card-body">
                <form class="layui-form" id="bannerForm" lay-filter="example">
                    <div class="layui-form-item">
                        <label class="layui-form-label">轮播图id</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" autocomplete="off" placeholder="轮播图id（不允许用户输入）" class="layui-input" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">轮播图名字</label>
                        <div class="layui-input-block">
                            <input type="text" name="bannerName" placeholder="请输入轮播图名" lay-verify="name" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!-- 图片上传 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="uploadImage">上传轮播图</button>
                                <div class="layui-upload-list">
                                    <img name="url" value="" class="layui-upload-img" id="uImage" style="max-height: 200px">
                                    <p id="demoText"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">权值</label>
                        <div class="layui-input-block">
                            <input type="text" name="weight" lay-verify="weight" autocomplete="off" placeholder="0 - 100" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button id="commit" type="submit" class="layui-btn" lay-submit="" lay-filter="commit">保存</button>
                            <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    .layui-table-cell {
        height: auto;
        line-height: 60px;
    }
    th .layui-table-cell {
        height: 40px;
        line-height: 40px;
    }
</style>
</html>