<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频表单</title>
    <!-- 样式 -->
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/common/jquery/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/common/ccb.js}" type="application/javascript"></script>
    <script th:src="@{/common/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/common/xm-select.js}"></script>
    <script th:src="@{/common/axios.js}"></script>
    <script th:src="@{/ccb/video/js/videoForm.js}" charset="utf-8"></script>
</head>
<body>
<!-- 操作表单 -->
<div style="margin: 25px 60px 0 0;">
    <form class="layui-form" id="videoForm" lay-filter="example">
        <label id="id" th:value="${video!=null?video.id:''}" class="layui-form-label" style="display: none">视频id</label>

        <!-- 频道选择下拉框 -->
        <div class="layui-form-item">
            <label class="layui-form-label">频道</label>
            <div class="layui-input-block">
                <select id="channelId" name="interest" lay-verify="required" lay-filter="aihao">
                    <option value=""></option>
                    <option th:each="channel:${channels}"
                            th:selected="${video != null} and ${video.channel.id} == ${channel.id}"
                            th:value="${channel.id}" th:text="${channel.channelName}">频道
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">视频标题</label>
            <div class="layui-input-block">
                <input id="videoTitle" type="text" name="videoTitle" th:value="${video!=null?video.videoTitle:''}"
                       placeholder="请输入视频标题" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">视频简介</label>
            <div class="layui-input-block">
                <textarea id="description" name="description" th:text="${video!=null?video.description:''}"
                      placeholder="请输入视频简介" class="layui-textarea" lay-verify="required">
                </textarea>
            </div>
        </div>

        <!-- 视频上传 -->
        <div class="layui-form-item">
            <label class="layui-form-label">视频</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="uploadVideo">上传视频</button>
                    <button type="button" class="layui-btn layui-btn-primary" id="videoDetail">查看视频</button>
                    （视频大小不得超过50MB）
                    <div class="layui-upload-list">
                        <video id="url" name="url" th:src="${video!=null?video.url:''}"
                               lay-verify="video" class="layui-upload-video" style="max-height: 200px">
                        </video>
                        <p id="videoText"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 视频封面上传 -->
        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="uploadPicture">上传视频封面</button>
                    <button type="button" class="layui-btn layui-btn-primary" id="showPicture">查看封面</button>
                    （图片大小不超过200kb，尺寸：380 * 214）
                    <div class="layui-upload-list">
                        <img id="picture" name="picture" th:src="${video!=null?video.picture:''}"
                             lay-verify="image" class="layui-upload-img" style="max-height: 200px">
                        <p id="pictureText"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 视频文稿上传 -->
        <div class="layui-form-item">
            <label class="layui-form-label">视频文稿</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="uploadTextPage">上传视频文稿</button>
                    <button type="button" class="layui-btn layui-btn-primary" id="showTextPage">查看文稿</button>
                    （图片大小不超过10MB）
                    <div class="layui-upload-list">
                        <img id="iImage" name="icon" th:src="${video!=null?video.textPage:''}"
                             lay-verify="image" class="layui-upload-img" style="max-height: 200px">
                        <p id="iconText"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 播放数 -->
        <div class="layui-form-item">
            <label class="layui-form-label">播放数</label>
            <div class="layui-input-block">
                <input id="views" th:value="${video!=null?video.views:'0'}" type="text" name="views" lay-verify="number" class="layui-input">
            </div>
        </div>
        <!-- 点赞数 -->
        <div class="layui-form-item">
            <label class="layui-form-label">点赞数</label>
            <div class="layui-input-block">
                <input id="enjoyCount" th:value="${video!=null?video.enjoyCount:'0'}" type="text" name="enjoyCount" lay-verify="number" class="layui-input">
            </div>
        </div>
        <!-- 分享数 -->
        <div class="layui-form-item">
            <label class="layui-form-label">分享数</label>
            <div class="layui-input-block">
                <input id="shareCount" th:value="${video!=null?video.shareCount:'0'}" type="text" name="shareCount" lay-verify="number" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">是否推荐</label>
            <div class="layui-input-block">
                <input id="switchRecommend" type="checkbox" name="isRecommend" th:value="${video!=null?video.id:''}"
                       th:checked="${video==null or video.isRecommend==1 ?'checked':'false'}" lay-skin="switch"
                       lay-filter="switchTest" title="开关">
            </div>
        </div>

        <!-- 讲师多选 -->
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">讲师</label>
            <div id="teacher" class="layui-input-block">

            </div>
        </div>

        <!-- 保存 -->
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="commit">保存</button>
            <button id="resetBtn" type="button" class="layui-btn layui-btn-primary">清空</button>
        </div>
    </form>
</div>
</body>
</html>